[submodule "lib/gdslib_fun_symbols"]
	path = lib/gdslib_fun_symbols
	url = https://github.com/DanielHeEGG/gdslib_fun_symbols
[submodule "lib/gfelib"]
	path = lib/gfelib
	url = https://github.com/DanielHeEGG/gfelib
